{% extends 'delivery/base.html' %}

{% block content %}
<div class="content-center">
  <h1>Welcome to Food Portal</h1>
    <p>Food Portal is your all-in-one food ordering platform</p>
    <p>that connects you with a wide range of local restaurants</p>
    <p>in one convenient place. Browse menus, compare options, and<p/>
    <p>order your favourite meals quickly and securely. Whether you're<p/>
    <p>craving Pizza, Chinese food, Burgers, or Indian food, Food Portal<p/>
    <p>makes discovering and ordering food simple, fast, and enjoyable.</p>
</div>
{% endblock %}
